[submodule "helper-scripts"]
	path = helper-scripts
	url = https://github.com/skalenetwork/helper-scripts.git
[submodule "hardhat-node"]
	path = hardhat-node
	url = https://github.com/skalenetwork/hardhat-node.git
